@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&display=swap');
body{
    margin: 0 auto;
    height: 100vh;
    font-family: 'Lato', sans-serif !important;
    
}
.llamado-urgencia{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(186, 24, 27, 0.8);
    background-color: rgba(229, 56, 59, 0.8);
    background-color: rgb(255, 0, 0);*/
    color: rgb(164, 22, 26);
    color: #fff;
    text-transform: capitalize;;
    font-style: oblique;
    font-synthesis: style;
    letter-spacing: 0.5px;
    border: 2px #A4161A solid ;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-weight: 900;
    font-size: 25px;
    text-align: justify;
    font-family: 'Lilita One', cursive;
    border-bottom: #fff 8px solid;
    border-right: #fff 8px solid;  
    border-top: #fb0000 8px solid;
    border-left: #fb0000 8px solid;  
}
.llamado-urgencia span{margin:0% ;}

.bkg-ani{
        background: linear-gradient(271deg, #e47474, #f53333, #fb0000);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 5s ease infinite;
        -moz-animation: AnimationName 5s ease infinite;
        -o-animation: AnimationName 5s ease infinite;
        animation: AnimationName 5s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 69%}
        50%{background-position:100% 32%}
        100%{background-position:0% 69%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 69%}
        50%{background-position:100% 32%}
        100%{background-position:0% 69%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:0% 69%}
        50%{background-position:100% 32%}
        100%{background-position:0% 69%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 69%}
        50%{background-position:100% 32%}
        100%{background-position:0% 69%}
    }





/*Arituculo 1 p de prensentacion y botones de comunicacion */

.articulo1{
    position: relative;
    top: 0.5vw;
    background-image:url(/static/hym.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 18vw;
}



.cab{
    text-align: center;
    justify-self:center;
    font-size: 32pt;
    color: #05204A;
    font-weight: bolder;
    padding-top: 15vh;

}

.botones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 20vh;
    
}


.botones a{
    color: aliceblue;
    text-decoration: none;
}

.botones a::after{
    color: #fff;
}

.botones a:hover{
    color: #fff;
}

#bllamada{
    background-color:#4040ff;
    border-color: #6161f5 solid 5px;    
}

#bwhatsapp{
    background-color: #00ea38;
    border-color: #06f83f  solid 5px;
}
.botones button{
    padding: 20px 80px;
}

/*media query para ser responsive en celular*/
@media  (max-width:470px) {
    .llamado-urgencia{
        flex-direction: row;
        align-items: center;
        justify-self: center;
        justify-content: space-around;
        padding: 10px;
    }
    .articulo1{
        background-size: contain;
    }
    .cab{
        font-size: 12pt;
        
        padding-top: 4vh;
    }
    .botones{
        margin-top: 5vh;
    }

    .botones button {
        padding: 2px 10px;
        margin-top: 0%;
    }
    .botones a{
        font-size: medium;
    }
}


/*SEPARADOR*/

.separador{
    position: relative;
    bottom: 13.1vw;
    right: 1.5vw;
    width: 0;
    height: 0;
    border-right: 100.3vw solid  transparent;
    border-bottom: 13.8vw solid red;
    margin-top: 0;
    margin-bottom: 0%;
    opacity:0.8 ;

}



/*seccion de servicios

    display: flex;
    justify-self: center;
    align-items: center;
*/

.servicios{
    background-image: url(./static/diagramabg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.list{

    left: 2vw;
    display: flex;
    flex-flow: wrap; 
    margin-top: 0%;
    width: 40vw;
    height: 40vw;
    justify-content: center;
    align-items: center;
    
}

.titu{
    display: flex;
    justify-content: flex-start;
    color: #05204A;
    font-style: oblique;
    position: relative;
        
}

.titu h3{
    font-size: 28pt;
    font-weight: bold;
}



.cardp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 25, 75, 0.5 ) !important;
    margin-left: 25px;
    border: solid 0.5px !important;
    color: #fff;
    font-weight: 700;
    height:15vw ;
}

.list img{
    width: 10vw;
    margin-left: 2vw;

}

.aside-servicios{
    position: relative;
    bottom: 13vw;
    width: 50vw;

}

/* caja modelo etiqueta test*/
.titu h3{
    padding: 10px;
	color: #05204A;
	font-weight: bold;
	display: inline-block;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff194b; 
	height: 0;
	line-height: 50px;
    position: relative;
    left: 38px;
    font-size: larger;
    padding-bottom: 0;
}
.list{
    border: 3px solid #ff194b;	
    border-top: 10px solid #ff194b;	   	 
    padding: 20px;
    position: relative;
    bottom: 6px;
    right: 80px;
}


.titulo-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 13vw;
    border-top: 0px;
    margin-left: 25%;
    margin-right: 25%;
    
}

.titulo-nosotros h2{
    
    padding: 250px;
    padding-top: 0%;
	color: #05204A;
	font-weight: bold;
	display: inline-block;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff194b; 
	height: 0;
	line-height: 50px;
    position: relative;
    left: 38px;
    font-size: xx-large;
    padding-bottom: 0;

}

.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

aside{

    position: relative;
    bottom: 24.4vw ;

    
}

.noso{
    width: 550px;
    height: 400px;
    margin: 25px;





}
.noso h3{
    padding: 15px;
	color: #05204A;
	font-weight: bold;
	display: inline-block;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #ff194b; 
	height: 0;
	line-height: 50px;
    position: relative;
    top: 5px;
    font-size: larger;
    padding-bottom: 0;
}





.parrafo-bgk{
    border: 3px solid #ff194b;	
    border-top: 10px solid #ff194b;	   	 
    padding: 20px;
    color: #05204A;
    font-weight: bold;
    font-size: 16pt;

}


/* 
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
    color: #fff;
    padding: 80px;
    background-image: url(./static/Captura\ de\ pantalla\ 2023-07-07\ 102058.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 2px;
    background-position: center top;
    
}

nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav h1{   
    position: absolute;
    color: #2B3467;
    font-weight: bold;
    font-size: 50pt;
    
}
nav img{
    position: relative;
    opacity: .7;
    height: fit-content;
    

}




.bkg{
    background-image: url(./static/hym.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.desc{   
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 400px;  
    position: relative;
}


.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
}

@media  (max-width:769px ) {
    .btn1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn2{
        height: 90px;
        width: 90px;
        padding: 0%;
        margin-left: 52px;
        
    }
}

.botones button{
    letter-spacing: 0.5px;
    font-weight: 600;
    padding: 40px 150px; 
    color: #fff;
    margin-top: 25px;
    border-radius: 2px;
    box-sizing: border-box;
}

.botones a{
    text-decoration: none;
    color: #fff;

}







*/



/*Slaider 

ul {
    position: absolute;
    top: 50%;
    width: 800px;
    height: 200px; 
    left: 50%;
    margin-left: -400px;
    margin-top: -130px;
}
*/ 
/*
li {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 200px; 
    opacity: 0;
    padding-top: 40px;
    text-align: center;
    transition: 1s opacity; 
}



p {
    font-family: sans-serif;
    font-size: 13px;
    color: #646566;
    line-height: 1.5em;
}

strong { 
color: #fff;
font-weight: 700;
    font-size: 60px; 
line-height: 100px; 
}
*/